<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

      <form (ngSubmit)="onSubmit()" #form="ngForm">
        <!--Email-->
        <label for="email">Email</label>
        <input
          type="text"
          id="email"
          class="form-control"
          name="email"
          required
          email
          ngModel
          #email="ngModel">
        <div><span class="error-message" *ngIf="!email.valid && email.touched">Email is not valid</span></div>


        <!--Subscription-->
        <label for="subscription">Subscriptions</label>
        <select
          [ngModel]="defaultSubscription"
          id="subscription"
          class="form-control"
          name="subscription"
          ngModel>
          <option value="basic">Basic</option>
          <option value="advanced">Advanced</option>
          <option value="pro">Pro</option>
        </select>

        <!--Password-->
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          required
          passsword
          ngModel
          #password="ngModel">
        <div><span class="error-message" *ngIf="!password.valid && password.touched">Password is not valid</span></div>

        <!--Submit-->
        <button type="submit" class="btn btn-primary" [disabled]="!form.form.valid">
          Submit
        </button>

      </form>
      <div class="col-xs-12" *ngIf="displayFormData">
        <p>Email: {{formData.email}}</p>
        <p>Subscription: {{formData.subscription}}</p>
        <p>Password: {{formData.password}}</p>
      </div>
      <!-- Add a Form with the following Inputs (and Validators)
           1) Mail address (should not be empty and should be an email address)
           2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
              Set "Advanced" as Default
           3) A Password field (should not be empty)
           4) A Submit Button

           Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

           Upon submitting the form, you should simply print the Value of the Form to the Console.
           Optionally, display it in your template.
      -->
    </div>
  </div>
</div>
